/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* Colors */
:root {
    /* Primary */
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --vDarkCyan: hsl(179, 100%, 13%);
    /* Neutral */
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background: hsl(0, 0%, 95%);
}

/* Screens */

@media only screen and (max-width: 1440px) {

    /* card */
    main {
        width: 900px;
        height: 500px;
        margin: 170px 0 90px 0;
        flex-direction: row;

    }

    /* cars */
    .cars {
        width: 300px;
    }

    .title {
        margin: 25px 0;
        font-size: 40px;
    }

    p {
        width: 210px;
    }

    .cars:first-child {
        border-radius: 10px 0 0 10px;
    }

    .cars:last-child {
        border-radius: 0 10px 10px 0;
    }

    button {
        margin: 80px 0 50px 0;
    }
}

@media only screen and (max-width: 375px) {

    /* card */
    main {
        width: 330px;
        height: 1320px;
        margin-top: 90px;
        flex-direction: column;
    }

    .cars {
        width: 330px;
    }

    .title {
        margin: 15px 0;
        font-size: 40px;
    }

    p {
        height: 115px;
        width: 225px;
    }

    .cars:first-child {
        border-radius: 10px 10px 0 0;
    }

    .cars:last-child {
        border-radius: 0 0 10px 10px;
    }

    footer {
        width: 300px;
    }

    button {
        margin: 25px 0 50px 0;
    }
}

* {
    margin: 0;
    font-size: 15px;
    font-family: 'Lexend Deca';
    color: var(--paragraphs);
    line-height: 1.6;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card */
main {
    display: flex;
}

/* cars */
.cars {
    color: var(--background);
}

.data {
    margin: 45px;
}

.title {
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
    /* margin: 40px 0;
    font-size: 40px; */
}

button {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 50px;
}

/* Sedan */
#sedan {
    background-color: var(--brightOrange);
}

#sedan button {
    color: var(--brightOrange);
}

#sedan button:hover {
    background-color: var(--brightOrange);
    color: var(--background);
}

/* suv */
#suv {
    background-color: var(--darkCyan);
}

#suv button {
    color: var(--vDarkCyan);
}

#suv button:hover {
    background-color: var(--darkCyan);
    color: var(--background);
}

/* Luxury */
#luxury {
    background-color: var(--vDarkCyan);
}

#luxury button {
    color: var(--vDarkCyan);
}

#luxury button:hover {
    background-color: var(--vDarkCyan);
    color: var(--background);
}

button:hover {
    cursor: pointer;
    border: var(--background);
    color: var(--background);
    border: 2px solid;
}



.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}